.details {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content: center;
    margin: 5rem 10rem;
    padding: 0;
    max-width: 1440px;
}

.back-link {
    max-width: 140px;
}

.back-btn {
    background-color: var(--element);
    border-style: none;
    box-shadow: 0 0 7px var(--shadow);
    color: var(--text);
    display: inline-block;
    padding: .5rem 0;
}

@media screen and (max-width: 720px) {
    .details {
        margin: 5rem 2rem;
    }   
}